{% extends "layout.html" %}

{% block content %}
    <form action="" method="post" id="order-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" />
    </form>
{% endblock %}

{% block extra_body %}
    <script src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script>
$(function() {
    var $form = $('#order-form');
    var params = {
        name: $form.find('[name=name]').val(),
        amount: $form.find('[name=amount]').val(),
    };

    IMP.init('{{ iamport_shop_id }}');
    IMP.request_pay(params, function(response_data) {
        console.log('response_data :', response_data);

        if ( ! response_data.success ) {
            alert(response_data.error_msg + "(" + response_data.error_code + ")");
            location.href = '{% url "shop:index" %}';
        }
        else {
            $.each(response_data, function(key, value) {
                $form.find("input[name=" + key + "]").val(value);
            });
            $form.submit();
        }
    });
});
    </script>
{% endblock %}
